@font-face {
  font-family: ComputerFont;
  src: url(./fonts/Computerfont.ttf) format('truetype');
  src: url(./fonts/Computerfont.woff) format('woff');

}
@font-face {
  font-family: WhiteRabbit;
  src: url(./fonts/whitrabt.ttf) format('truetype');
  src: url(./fonts/whitrabt.woff) format('woff');

}
@font-face{
  font-family: PTSans;
  src: url(./fonts/PTSans-Regular.ttf) format('truetype');
  src: url(./fonts/PTSans-Regular.woff) format('woff');
}
.App {
  text-align: center;
  z-index:-4;
}
.Canvas{
  width:100%;
  height:550px;
  position:absolute;
  left:0%;
  z-index:0;
  background: rgb(57,67,75);
  background: linear-gradient(180deg, rgba(57,67,75,1) 6%, rgba(87,103,117,1) 31%, rgba(87,103,117,1) 84%);
  /*box-shadow: -1px 10px 10px black;*/
}
.Footer{
  width:100%;
  z-index:0;
  background: rgb(57,67,75);
  padding-top:30px;
  padding-bottom:30px;
  /*box-shadow: -1px 10px 10px black;*/
}
.BackgroundContainer{
  position:relative;
}
.Background{
  width:100%;
  height:100%;
  position:absolute;
  left:0%;
  z-index:-1;
  background-color:#1c1d21;
}
.TitleCardPlaceholder{
  width:100%;
  height:550px;
}
.TitleCard{
  position:absolute;
  width:100%;
  box-shadow: 0px 10px #6FA6A4;
}
.ParagraphFont{
  font-family:PTSans;
  font-size:25px;
  color:#E6E8DD;
  text-align:center;
}
.ParagraphFontLeft{
  font-family:PTSans;
  font-size:25px;
  color:#E6E8DD;
  text-align:left;
}
.InnerTitle{
  position:relative;
}
.SkillsContainer{
  margin-top:80px;
}
.CircleImage{
  position:absolute;
  width: 400px;
  height: 400px;
  padding:50px;
  border-radius:50%;
  z-index:2;
  left: 50%;
  margin-left: -200px;
  top: 50%;
  margin-top: 50px;
}

.Email{
  font-family:PTSans;
  font-size:40px;
  color:black;

}
.Icon{
  width: 300px;
  height: 300px;
  z-index: -1;
  position:absolute;
}
@media screen and (max-width: 799px) {
  .WhiteHeader {
    position:absolute;
    color:#E6E8DD;
    font-family:WhiteRabbit;
    font-size:35px;
    margin:0 auto;
    font-weight: normal;
    z-index: 10;
    left: 50%;
    margin-left: -148px;
    top: 50%;
    margin-top: 425px;
  }
  .WhiteFooter{
    position:absolute;
    color:#E6E8DD;
    font-family:PTSans;
    font-size:27px;
    margin:0 auto;
    padding-bottom:50px;
    z-index: 10;
    left: 50%;
    margin-left: -113.115px;
    top: 50%;
    margin-top: 485px;
  }
  .AboutMeContainer{
	margin: 0 auto;
	width:95%;
	text-align:left;
  padding:20px;
  margin-top:30px;
  }
}
@media screen and (min-width: 800px) {
.AboutMeContainer{
	margin: 0 auto;
	width:70%;
	text-align:left;
  padding:20px;
  margin-top:30px;
}
.WhiteHeader {
  position:absolute;
  color:#E6E8DD;
  font-family:WhiteRabbit;
  font-size:45px;
  margin:0 auto;
  font-weight: normal;
  z-index: 10;
  left: 50%;
  margin-left: -192.86px;
  top: 50%;
  margin-top: 425px;
}
.WhiteFooter{
  position:absolute;
  color:#E6E8DD;
  font-family:PTSans;
  font-size:34.7px;
  margin:0 auto;
  padding-bottom:50px;
  z-index: 10;
  left: 50%;
  margin-left: -145.385px;
  top: 50%;
  margin-top: 485px;
}
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index: 10;
}
.TableHeaderCell{
  text-align:center;
  font-family:PTSans;
  font-size:20px;
  font-weight:bold;
  color:#E6E8DD;
  border-bottom: 3px solid #6FA6A4;
  margin: 0;
  z-index: 10;
  min-width:400px;
}
.TableCell{
  text-align:center;
  font-family:PTSans;
  font-size:20px;
  color:#E6E8DD;
  
  margin: 0;
  z-index: 10;
  min-width:400px;
}
.TableFooterCell{
  text-align:center;
  font-family:PTSans;
  font-size:20px;
  color:#E6E8DD;
  margin: 0;
  z-index: 10;
  min-width:400px;
}
.STableHeaderCell{
  text-align:center;
  font-family:PTSans;
  font-size:20px;
  font-weight:bold;
  color:#E6E8DD;
  border-bottom: 6px solid #6FA6A4;
  margin: 0;
  z-index: 10;
  min-width:400px;
}
.STableCell{
  text-align:center;
  font-family:PTSans;
  font-size:20px;
  color:#E6E8DD;
  border-bottom: 4px solid #6FA6A4;
  margin: 0;
  z-index: 10;
  min-width:400px;
}
.STableFooterCell{
  text-align:center;
  font-family:PTSans;
  font-size:20px;
  color:#E6E8DD;
  margin: 0;
  z-index: 10;
  min-width:400px;
}
.SkillsTable{
  background-color:#576775;
  border: 4px solid #6FA6A4;
  border-radius: 1%;
  margin: 0 auto;
  width:100%;
  text-align:center;
  border-spacing: 0;
  float:left;
  box-shadow: 5px 7px black;
  z-index: 10;
  min-width:400px;
}
.SoftwareTable{
  background-color:#576775;
  border: 4px solid #6FA6A4;
  border-radius: 1%;
  margin: 0 auto;
  width:100%;
  text-align:center;
  border-spacing: 0;
  float:right;
  box-shadow: 5px 7px black;
  z-index: 10;
  min-width:400px;
}
  .mobileTable{

    padding-top:20px;
    display:inline-block;
    z-index: 10;
    float: none;
  }
@media screen and (min-width: 800px) {
.floatRight{
  display: inline-block;
  width:20%;
  padding:20px;
  z-index: 10;
}
.floatLeft{
  display: inline-block;
  width:20%;
  padding:20px;
  z-index: 10;
}
}
.SubHeader{
  font-family:WhiteRabbit;
  font-size:50px;
  color:#E6E8DD;
  z-index: 10;
  margin-top:80px;
}
@media screen and (max-width: 799px) {
  .ProjectBackground{
    background: rgba(87,103,117,1);
    padding-top:20px;
    padding-bottom:20px;
    margin:0 auto;
  }
  .Thumbnail{
    width:(90vw);
    height:calc(((90vw) * 0.5625));
  }
  
}
@media screen and (min-width: 800px) {
  .ProjectBackground{
    background: rgba(87,103,117,1);
    width:70%;
    padding-top:20px;
    padding-bottom:20px;
    margin:0 auto;
  }
  .Thumbnail{
    width:(60vw*0.33);
    height:calc(((60vw*0.33) * 0.5625));
  }

}

.ProjectTable{
  width:100%;
  height:100%;
  display: table;
}
.ButtonProject{
  background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
.ButtonResume{
  font-family:PTSans;
  font-size:25px;
}
.Center{
  text-align: center;
}
.SelectorButton{
   background-color: #97aec2;
}
.LinkedIn{
	width:184.3px;
	height:45px;

}
.Github{
	width:125px;
	height:51.25px;

}
.ContactButton{
  margin-top:15px;
	padding:15px;
}
.cell{
  display:table-cell;
}
.table {
  display: table;
}
.table-row {
  display: table-row;
}